@font-face {
    font-family: m-700;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: m-500;
    src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: m-400;
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: m-600;
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    height: 4089px;
    background-color:#F6FAFD ;
    /* background: #F6FAFD; */
}

/* Navbar Start */
nav {
    display: flex;
    padding: 30px 200px 20px 280px;
    background: #F6FAFD;
}

.navbar-logo {
    padding-right: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-right: 166px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size:16px ;
    font-family: m-500;
}

a:hover {
    color: #099B79;
}

.navbar-bottom {
    display: flex;
}

.регистрация {
    width: 171px;
    height: 40px;
    border-radius: 50px;
    background: #F2F0FE;
    border: none;
    color: #1DBF73;
    font-size:16px ;
    font-family: m-600;
    margin-right: 30px;
    cursor: pointer;
}

.регистрация:hover {
    background: #ffffff;
}

.войти {
    width: 113px;
    height: 40px;
    border-radius: 50px;
    background: #1DBF73;
    border: none;
    color: #F6FAFD;
    font-size:16px ;
    font-family: m-600;
    cursor: pointer;
}

.войти:hover {
    background: #099B79;
}
/* Navbar End */
/* Header Start */
.header {
    border: 1px dashed #000000;
    background: #F6FAFD;
}

header {
    display: flex;
    padding: 110px 100px 153px 280px;
}

.header-left-h1 {
    color: #000000;
    font-size:36px ;
    font-family: m-700;
    padding-bottom: 30px;
}

.header-left-span {
    color: green;
}

.header-left-p {
    color: #222222;
    font-size:20px ;
    font-family: m-500;
    padding-bottom: 50px;
}

.header-left-bottom {
    display: flex;
    /* justify-content: space-between; */
    width: 532px;
    height: 60px;
    border-radius: 50px;
    background-color: #F2F0FE;
    margin-bottom: 50px;
}

input {
    padding: 20px 191px 20px 19px;
    border: none;
    background-color: inherit;
}

.найти {
    width: 154px;
    height: 60px;
    border-radius: 50px;
    background: #FBA457;
    border: none;
    color: #F6FAFD;
    font-size:16px ;
    font-family: m-700;
    cursor: pointer;
}

.найти:hover {
    background: #fa8926;
}

.header-left-p2 {
    color: #222222;
    font-size:16px ;
    font-family: m-500;
    padding-bottom: 30px;
}

#bottom-1 {
    width: 181px;
    height: 37px;
    border-radius: 50px;
    background: #F2F0FE;
    border: none;
    color: #222222;
    font-size:13px ;
    font-family: m-400;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#bottom-1:hover {
    background: #ffffff;
    border: 1px solid #149e5e;
    color: #0f7a48;
}

#bottom-2 {
    width: 181px;
    height: 37px;
    border-radius: 50px;
    background: #F2F0FE;
    border: none;
    color: #222222;
    font-size:13px ;
    font-family: m-400;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#bottom-2:hover {
    background: #ffffff;
    border: 1px solid #149e5e;
    color: #0f7a48;
}

#bottom-3 {
    width: 181px;
    height: 37px;
    border-radius: 50px;
    background: #F2F0FE;
    border: none;
    color: #222222;
    font-size:13px ;
    font-family: m-400;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    cursor: pointer;
}

#bottom-3:hover {
    background: #ffffff;
    border: 1px solid #149e5e;
    color: #0f7a48;
}

#bottom-33 {
    width: 148px;
    height: 37px;
    border-radius: 50px;
    background: #fba45713;
    border: 1px solid #FBA457;
    color: #FBA457;
    font-size:13px ;
    font-family: m-500;
    /* margin-right: 20px; */
    margin-bottom: 20px;
    cursor: pointer;
}

#bottom-33:hover {
    background: #fba45777;
    color: #ff7700;
}

.header-right-img {
    margin-top: -70px;
    margin-left: 100px;
}
/* Header End */

/* Актуальные ворки Start */
.top-items {
    padding: 120px 0px 0px 280px;
}

.top-item-1 {
    display: flex;
}

.top-item-2 {
    display: flex;
}

.top-img {
    display: flex;
}

.top-items-h1 {
    color: #222222;
    font-size:24px ;
    font-family: m-600;
    padding-bottom: 48px;
}

.top-1 {
    width: 420px;
    height: 270px;
    border-radius: 20px;
    background-color:#F2F0FE;
    margin-right: 30px;
    margin-bottom: 30px;
}

.top-1-images {
    margin: 20px 20px 30px 20px;
    width: 44px;
    height: 44px;
}

.top-h2 {
    padding-top: 20px;
    color: #222222;
    font-size:18px ;
    font-family: m-600;
}

.top-1-p {
    color: #222222;
    font-size:14px ;
    font-family: m-400;
    padding-bottom: 30px;
    padding-left: 20px;
    line-height: 17px;
}

.top-1-bottom {
    width: 380px;
    height: 41px;
    border-radius: 50px;
    border: 1px solid #1DBF73;
    background-color: #F2F0FE;
    color: #1DBF73;
    font-size:14px ;
    font-family: m-500;
    margin-left: 20px;
    cursor: pointer;
}

.top-2-bottom {
    width: 380px;
    height: 41px;
    border-radius: 50px;
    border: 1px solid #1DBF73;
    background-color: #F2F0FE;
    color: #1DBF73;
    font-size:14px ;
    font-family: m-500;
    margin-left: 20px;
    cursor: pointer;
}

.top-1-bottom:hover {
    background-color: #1DBF73;
    color: #ffffff;
}

.top-2-bottom:hover {
    background-color: #1DBF73;
    color: #ffffff;
}

.top-item-22 {
    width: 420px;
    height: 270px;
    border-radius: 20px;
    background-color:#F2F0FE;
}

.top-22-p {
    padding: 124px 113px 124px 113px;
    color: #1DBF73;
    font-size:18px ;
    font-family: m-600;
    cursor: pointer;
}
/* Актуальные ворки End */

/* Топ фрилансеров Start */
.middle {
    padding: 100px 0px 0px 280px;
}

.middle-1 {
    display: flex;
}

.middle-h1 {
    color: #222222;
    font-size:24px ;
    font-family: m-600;
    padding-bottom:40px ;
}

.middle-top {
    display: flex;
    width: 420px;
    height: 261px;
    border-radius: 20px;
    background-color: #F6FAFD;
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: 0px 16px 16px 0px #2222220A;
}

.middle-top-img {
    padding: 20px 29px 30px 20px;
}

.middle-p {
    color: #222222;
    font-size:16px ;
    font-family: m-500;
    padding-bottom:12px;
    padding-top: 35px;
}

.middle-h2 {
    color: #FBA457;
    font-size:18px ;
    font-family: m-600;
    padding-bottom:10px;
}

.middle-p2 {
    color: #222222;
    font-size:14px ;
    font-family: m-500;
    padding-bottom:10px;
}

.middle-buttom {
    position: relative;
    top: 45px;
    left: -180px;
    width: 380px;
    height: 41px;
    color: #1DBF73;
    border-radius: 100px;
    border: 1px solid #1DBF73;
    cursor: pointer;
}

.middle-buttom:hover {
    background-color: #1DBF73;
    color: #ffffff;
    border: 1px solid #1DBF73;
}

.top-22-p2 {
    padding: 119px 37px 119px 37px;
    color: #1DBF73;
    font-size:18px ;
    font-family: m-600;
    cursor: pointer;
}

.m-img-1 {
    position: absolute;
    top: 2016px;
    left: 593px;
}
/* Топ фрилансеров End */

/* WorkTap start */
.worktap {
    padding: 100px 0px 0px 280px;
}

.worktap-h1 {
    color: #222222;
    font-size:24px ;
    font-family: m-600;
    padding-bottom:20px;
}

.worktap-p {
    color: #222222;
    font-size:16px ;
    font-family: m-400;
    padding-bottom:50px;
}

.works {
    display: flex;
}

.works-1 {
    margin-right: 81px;
}

.works-1-img {
    width: 109px;
    height: 118px;
    padding-bottom:20px;
}

.works-12-img {
    width: 109px;
    height: 118px;
    padding-bottom:20px;
}

.works-h3 {
    color: #222222;
    font-size:18px;
    font-family: m-600;
    padding-bottom:20px;
}

.works-p {
    color: #222222;
    font-size:14px;
    font-family: m-400;
    padding-bottom:100px;
}
/* WorkTap End */

/* Как WorkTap помогает бизнесу Start */
.help {
    background-image: url("./img/Group\ 94.jpg");
    padding:50px 0px 0px 280px;
}

.help-top {
    display: flex;
}

.help-h1 {
    color: #F6FAFD;
    font-size:24px;
    font-family: m-600;
    padding-bottom:45px;
}

.help-top {
    width: 533px;
    height: 90px;
    border-radius: 20px;
    background-color: #F6FAFD;
    box-shadow: 0px 16px 16px 0px #0000000A;
    margin-bottom: 30px;
}

.help-img {
    width: 50px;
    height: 50px;
}

.help-left {
    padding: 20px 30px 20px 20px;
}

.help-p {
    color: #222222;
    font-size:14px;
    font-family: m-400;
    padding-top: 37px;
}

.help-h2 {
    color: #F6FAFD;
    font-size:20px;
    font-family: m-600;
    padding-top: 20px;
    padding-bottom: 40px;
}

.help-buttom {
    width: 221px;
    height: 69px;
    border-radius: 50px;
    border:none;
    background-color: #5E4EDB;
    color: #F6FAFD;
    font-size:24px ;
    font-family: m-700;
    margin-bottom: 97px;
    cursor: pointer;
}

.help-buttom:hover {
    background-color: #0B0C63;
}
/* Как WorkTap помогает бизнесу End */
